#imageholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#imageholder img {
  height: 250px;
  margin-bottom: 30px;
}

.footer {
  background-color: #acacac;
}

.footer {
  padding-bottom: 3rem;
  transition: 1s ease-in-out;
}

.footer:hover {
  letter-spacing: 1px;
}